# Ignore everything
*

# Allow
!node_modules/
!src/
!tests/

!vitest.config.ts
!nodemon.json
!package.json
!pnpm-lock.yaml
!tsconfig.json
!pnpm-workspace.yaml
!.oxfmtrc.json
!.oxlintrc.json
!.gitignore
