# Ignore everything
*

# Allow
!node_modules/
!packages/
!tests/

!vitest.config.ts
!package.json
!pnpm-lock.yaml
!tsconfig.json
!pnpm-workspace.yaml
!.oxfmtrc.json
!.oxlintrc.json
!.gitignore
