# Docker
APP_VERSION=main

# .env
APP_PORT=3000
APP_NAME=blockchain
APP_ENV=dev

KAFKA_GROUP_ID=blockchain
KAFKA_CLIENT_ID=bckcid
KAFKA_HOST=broker
KAFKA_PORT=29092

# .env.graylog
GRAYLOG_HOST=graylog
GRAYLOG_PORT=12201
GRAYLOG_PASSWORD_SECRET=somepasswordpepper
# Password: admin
GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
